@import "tailwindcss" theme(static);
@plugin "@iconify/tailwind4" {
  prefixes: simple-icons, mdi;
}
/* List specific icons here if they aren't explicitly named (only as variable) in the code so they are included in the build  */
@source inline("mdi--{plus}");
@import './fonts.css';
@import '../css/mobile-menu.css';
@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --font-serif: "Azurio", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-*: initial;

  --color-white: #FFFFFF;
  --color-white-30-opacity: #FFFFFF/30;
  --color-black: #141414;
  --color-light-grey: #EDEDED;

  --color-pink: #FF29B4;

  --color-purple-50: #FFEEF9;
  --color-purple-100: #FDE2F8;
  --color-purple-200: #D183C2;
  --color-purple-300: #A9629B;
  --color-purple-400: #A83992;
  --color-purple-500: #973884;
  --color-purple-600: #792B69;
  --color-purple-700: #5C1F50;
  --color-purple-800: #3D1535;

  --color-blue-50: #EFF6FE;
  --color-blue-100: #BCD6F9;
  --color-blue-200: #0F4EA4;
  --color-blue-300: #0A3670;
  --color-blue-400: #07244B;

  --color-off-white-50: #F8F5F2;
  --color-off-white-100: #F4F0EB;
  --color-off-white-200: #E1DAD0;
  --color-off-white-300: #8F867B;
  --color-off-white-400: #6E675E;
  --color-off-white-500: #59534C;

  /* used for kieswijzers */
  --color-status-green: green;
  --color-status-orange: orange;
  --color-status-red: red;
  --color-status-grey: grey;
}


/* custom variants for hover so the effects are also shown on smartphones */
@custom-variant hocus (&:hover, &:focus, &:active);

@custom-variant group-hocus (
  &:is(:where(.group):hover *),
  &:is(:where(.group):focus *),
  &:is(:where(.group):active *)
);

@layer utilities {
  [x-cloak] { display: none !important; }
}

@layer components {
  .table-responsive {
    @apply overflow-x-auto;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    @apply w-full mb-4 align-top text-base text-[#212529] whitespace-nowrap;
  }

  .table > :not(caption) > * > * {
    @apply px-2 py-2 border-b border-[#dee2e6];
  }

  .table > thead {
    @apply align-bottom border-b-2 border-[#dee2e6];
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    @apply bg-black/5;
  }

  .table-hover > tbody > tr:hover {
    @apply bg-black/[0.075];
  }

  .table-bordered > :not(caption) > * > * {
    @apply border border-[#dee2e6];
  }
}

@layer base {
  *:focus-visible:not(.no-default-ring) {
    outline: 2px solid var(--color-pink);
    outline-offset: 2px;
  }

  body {
    overflow-wrap: anywhere;
    @apply selection:bg-pink selection:text-white;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  dialog p {
    @apply xl:text-[1.125rem]/[1.75rem] tracking-[-0.00625]
  }

  /* Underline with a remove transition on hover */
  div > a:not(:has(div, span, img), .no-open-state-underline),
  td > a:not(:has(div, span, img)),
  p a:not(:has(div, span, img)) {
    @apply text-pink bg-linear-to-r from-current to-current
      bg-[length:100%_1px] bg-no-repeat bg-right-bottom
      [background-position:0_100%] transition-[background-size] duration-100
      hocus:bg-[length:0%_1px];
  }

  /* We need this because our 2019 website used <a> links in the running text of an action box, but now we want to apply this link to its parent card <div>; use relative z-10 for the cases where multiple links are in a card to make those links at least clickable */
  .action-box {
    @apply relative;

    a {
      @apply after:absolute after:inset-0 underline;
    }

    /* In most cases there is only one <a href> in the text, so do not underline; in some cases there are more links, so underline them for clarity */
    a:only-child {
      @apply no-underline;
    }

    /* Make sure that if there is more than 1 link that these are clickable */
    a:not(:first-child) {
      @apply relative z-10;
    }
  }

  ul, ol {
    @apply list-outside pl-4 mb-3 space-y-0;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  header ul {
    @apply list-none pl-0 mb-0 text-[0.875rem]/[1.375rem];
  }

  .single header {
    @apply bg-white;
  }

  body.error404 {
    #main {
      @apply flex flex-col flex-1;
    }

    #app > div:last-child {
      @apply !flex-none;
    }
  }

  /* Pages with a white nav bar */
  .page-template,
  .page-template-default,
  .page-template-template-custom,
  .page-template-projects,
  .page-template-news-archive,
  .search,
  .single-post {
    header {
      @apply !bg-white;
    }
  }

  /* Pages with a off-white nav bar */
  .page-template-contact {
    header {
      @apply !bg-off-white-50;
    }
  }

  /* Pages with a purple nav bar */
  /* NOTE: also add this class to $secondary_nav_colors at the top of sections/header.blade.php */
  .page-template-project-page,
  /* About page, use its name otherwise its subpages also change color */
  .wie-we-zijn,
  .error404,
  .page-template-donate,
  .page-template-work-with-us,
  .page-template-work-with-us-tool-implementation,
  .page-template-work-with-us-advice-strategy,
  .page-template-work-with-us-training-workshops,
  .page-template-work-with-us-research-analyses,
  .page-template-work-with-us-events-co-creation {
    header {
      @apply !bg-purple-800;

      #menu-menu>li {
        @apply text-white;

        li {
          @apply text-purple-800;
        }
      }

      .hamburger-line {
        @apply !bg-white;
      }

      #search-icon-collapsed {
        @apply text-white;
      }

      .mobile-menu-toggle {
        @apply hocus:!bg-purple-600;
      }

      .mobile-menu-toggle:focus {
        @apply text-white;
      }

      .mobile-menu {
        @apply !bg-purple-800 text-white;
      }
    }
  }

  /* Menu hover gradient from white to pink */
  #breadcrumb a[href],
  #menu-menu a[href],
  #mobile-menu-list a[href] {
    display: inline-block !important;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--color-pink));
      transition: width 0.3s ease;
    }

    @apply hocus:after:w-[100%];
  }

  #footer-menu-list {
    ul {
      @apply list-none pl-0 mb-0;
    }

    & > li {
      @apply col-span-6 md:col-span-3;
    }

    a[href] {
      @apply hover:text-pink transition font-medium;
    }

    a:not([href]) {
      font-family: var(--font-mono);
      font-weight: 500;
      font-size: 0.8125rem;
      line-height: 1rem;
      letter-spacing: 0.03125rem;
      color: var(--color-pink);
    }
  }

  .current-menu-item a {
    @apply !text-pink;
  }

  h1 {
    font-family: var(--font-serif);
  }

  h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    margin-top: 1.7em;
    margin-bottom: 0.625em;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    letter-spacing: 0;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }

  .home h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }

  dialog h3 {
    @apply text-[1.25rem]/[1.5rem] tracking-[-0.005rem] md:text-[2.25rem]/[2.5rem] md:tracking-[-0.0125rem] xl:text-[2.5rem]/[2.75rem] xl:tracking-[-0.025rem] mt-[0px] mb-[26px] md:mb-[28px] xl:mb-[30px];
  }

  .page-template-contact {
    h3 {
      @apply font-mono text-pink font-medium text-[13px]/[18px] mt-[16px];
    }

    input,
    textarea {
      @apply bg-off-white-200 w-full rounded-lg p-[12px];
    }

    form
      h3 {
        @apply mt-0 mb-[8px];
      }

      p {
        @apply mb-[32px];
      }
  }

  .page-template-donate {
    input,
    select,
    textarea {
      @apply bg-purple-700 w-full rounded-lg p-[12px];

      &::placeholder {
        @apply text-purple-300;
      }
    }

    label {
      @apply text-pink font-mono text-[0.8125rem]/[1.125rem] font-medium;
    }
  }

  .page-numbers {
    @apply font-medium py-[3.5px] no-underline;

    &.current {
      @apply bg-pink text-white rounded-lg px-[9.75px] py-[3.5px];
    }
  }

  .wpcf7-not-valid-tip {
    @apply !text-purple-800;
  }

  .wpcf7-response-output {
    @apply !text-purple-800 !border-none !p-0 !m-0;
  }

  .capjs {
    @apply mt-[8px] md:mt-0 mr-[8px];
    --cap-border-color: transparent;
    --cap-border-radius: 8px;
    --cap-widget-padding: 9px;
    --cap-widget-height: 46px;
    --cap-widget-width: 244px;
    --cap-font: var(--font-sans);
    --cap-color: var(--color-purple-800);
  }

  cap-widget {
    display: inline-flex;
    --cap-focus-ring: var(--color-pink);
  }

  cap-widget::part(label) {
    @apply text-[0.875rem]/[1rem] font-normal;
  }

  #mce-EMAIL:focus-visible {
    outline-offset: -3px;
  }

  cap-widget::part(trigger):focus-visible {
    outline: 2px solid var(--color-pink);
    outline-offset: -2px;
  }

  /* md | 48rem | 768px */
  @media (width >= 48rem) {
    /* xl is the same */
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.625rem;
      line-height: 2rem;
      letter-spacing: -0.0125rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: -0.0125rem;
    }

    h4 {
      font-size: 1.375rem;
      line-height: 1.75rem;
      letter-spacing: -0.0125rem;
    }

    h5 {
      font-size: 1.25rem;
      line-height: 1.625rem;
      letter-spacing: 0;
    }

    h6 {
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: 0;
    }

    .home h2 {
      font-size: 1.625rem;
      line-height: 2rem;
      letter-spacing: -0.0125rem;
    }

    .page-numbers {
      @apply font-medium px-[9.75px];

      &.current {
        @apply bg-pink text-white rounded-lg;
      }
    }
  }

  /* xl | 80rem | 1280px */
  @media (width >= 80rem) {
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.025rem;
    }

    h3 {
      font-size: 1.875rem;
      line-height: 2.375rem;
      letter-spacing: -0.025rem;
    }

    h4 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      letter-spacing: -0.025rem;
    }

    h5 {
      font-size: 1.625rem;
      line-height: 2.125rem;
      letter-spacing: 0;
    }

    h6 {
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0;
    }

    .home h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.025rem;
    }
  }
}
